* {
  box-sizing: border-box;
}

body {
  padding: 5% 0;
  font-size: 18px;
  width: 90%;
  padding: 0;
  margin: auto;
}



#todoapp {
  width: 40rem;
  margin: auto;
  border: 1px solid dimgrey;
}

#header {
  border-bottom: 1px solid dimgrey;
  height: 10%;
  padding: 1rem;
}

#new-todo {
  width: 100%;
  padding: 1rem 2rem 1rem 1rem;
  font-size: 18px;
}

/*section {*/
/*height: 100%;*/
/*width: 100%;*/
/*!*border: 1px solid black;*!*/
/*}*/

#root{
  padding:1%;
  width: 40rem;
  margin: auto;
  border: 1px solid dimgrey;
}

ul{
  margin:  0;
}
li {
  margin: 1rem;
  height: auto;
  border: 3px solid green;
  list-style: none;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

.hidden{
  display: none;
}

.text {
  width: 90%;
  text-overflow: ellipsis;
  border: none;
}

.checked {
  text-decoration: line-through;
  color: gray;
}

#submit {
  position: absolute;
  top: 1rem;
  right: 0;
  width: auto;
}